body {
  margin: 0;
  font-family: "Nunito", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ff{
  font-family: "Rajdhani",serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
